/* Sidebar styling */
.sidebar {
  width: 150px;
  background-color: #343a40;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 20px;
  z-index: 1000;
  transition: width 0.3s;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 8px;
  text-align: left;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  color: white ;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #e0f7fa;
  color: #00796b;
}

.sidebar ul li a .icon {
  margin-right: 8px;
  font-size: 18px;
  min-width: 20px;
}

.sidebar ul li a .text {
  flex-grow: 1;
  font-size: 14px;
}

.brandLink{
  text-decoration-color: linear-gradient(90deg, #64c7cc, #3b8c8f); /* Gradient colors */
}
/* Responsive sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 60px; /* Collapse sidebar to icon-only */
    overflow-x: hidden;
  }

  .sidebar ul li a .text {
    display: none; /* Hide text when collapsed */
  }

  .sidebar ul li {
    justify-content: center; /* Center icons */
  }
}
